body {
  font-family: "Roboto", sans-serif;
}

.alert-container {
}

.callout-container {
  height: 100vh;

  background: url('../images/whiskey-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.quotes-container {
}

.features-container {
}
